/* styles for my resume */

/* general style for the page */
BODY {
    font-family: "Open Sans", arial, sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #444;
}

/* page width */
#container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* name style */
#name {
    font-size: 3em;
    text-transform: uppercase;
    text-align: center;
    color: #33485e;
    border-bottom: 1px solid #33485e;
    width: 60%;
    min-width: 300px;
    margin: 0 auto;
}

/* title style */
#title {
    color: #33485e;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

/* contact stuff style */
.menu {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

/* more contact stuff style */
.contact {
    display: inline;
}

/* section header styles */
.section-header {
    text-transform: uppercase;
    font-size: 1.5em;
    background-color: #33485e;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    width: 70%;
    min-width: 300px;
}


/* job title style */
.jobtitle {
    font-size: 1.5em;
    font-weight: 600;
}

/* org style */
.organization {
    font-size: 1.25em;
}

/* date style */
.date {
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}


/* job description style */
.description {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

/* education list style */
#degrees {
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

/* skills list style */
#do {
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

/* info thing at the top style */
.top {
    width: 60%;
    min-width: 300px;
    margin: 0 auto;
    margin-bottom: 30px;
}